player-connection-mode=Listen
player-connection-guid=3061594526
player-connection-debug=0
player-connection-project-name=GAMENET Final Project
player-connection-ip=192.168.0.148
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=312993d74e4c45b3b340ae4252d97508
